<footer class="d-print-none">
    <div class="row m-auto d-flex align-items-stretch">
      <div class="firm-footer__first-col col-12 col-sm-4 d-flex p-3 p-lg-4 justify-content-sm-center align-items-center">
        <img width="186px" height="61px" alt="Logo del Consiglio Regionale del Piemonte" src="./assets/img/logo-consiglio-footer.png">
      </div>
      <div class="firm-footer__second-col row no-gutters col-12 col-sm-8 text-white p-3 p-lg-4">
        <p class="col-10 mb-0  font-weight-bold">Consiglio regionale del Piemonte</p>
        <p class="col-10 small">Palazzo Lascaris - via Alfieri, 15 - 10121 Torino</p>
        <p class="col-10 mb-0  small">Tranne per i materiali specificatamente ed espressamente indicati come diversamente tutelati, i contenuti del sito son soggetti alla licenza Creative Commons Attribuzione - Non commerciale Condividi allo stesso modo 3.0 Italia</p>
      </div>
    </div>
</footer>