.form-group label {
    transform: translateY(-75%);
    font-size: .777rem;
}

::ng-deep .autocomplete-container {
    box-shadow: none!important;
    height: unset;
}

::ng-deep .autocomplete-container .input-container input {
    border: none!important;
    border-bottom: 1px solid #5c6f82!important;
    border-radius: 0!important;
    padding: 0.375rem 0.5rem!important;
    outline: 0!important;
    height: 2.5rem!important;
    width: 100%!important;
    box-shadow: none!important;
    transition: .2s ease-out!important;
    font-weight: 700!important;
    color: #17324d!important;
    font-size: 1rem!important;
}
